$theme-colors: (
                primary: #d701f3,
                secondary: #3b3c3e,
                success: #1e6111,
                info:  #64c3d2,
                warning: #f5e74a,
                danger: #820410
                );

* {
  box-sizing: border-box;
  border-radius: 0.5em;
}

.container {
  margin-top: 3em;
}

.row {
  justify-content:  center;
}

.App {
  text-align: center;
}

.wrapper {
  width: 20em;
}

.btn {
  margin: 1em;
}

.tags.btn {
  margin: 1em;
}

.card {
  margin: 1em;
}

.popup-content {
  width: 60%;
  background-color: lightcoral;
  padding: 2em;
}

@import '~bootstrap/scss/bootstrap.scss';